package templates

templ Chat() {
    @Layout() {
        <h1>Chattr Room</h1>
        <div id="chat-container"
            hx-ext="ws"
            ws-connect="/ws">
            <div id="chat-list" class="chat-list"></div>
            <form ws-send>
                <input type="text" name="message" placeholder="Chattr">
                <button type="submit">Send</button>
            </form>
        </div>
    }
}